# Auto detect text files and normalise to LF
* text=auto eol=lf

# Force LF for Docker and shell scripts
Dockerfile text eol=lf
*.dockerfile text eol=lf
docker-compose*.yml text eol=lf
*.sh text eol=lf
*.conf text eol=lf
